<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Требуется вход</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container fullscreen-center">
        <h2>Требуется вход</h2>
        <p>Для доступа к этой странице необходимо войти в систему.</p>
        <button onclick="window.location.href='/login'">Войти</button>
    </div>
</body>
</html>