<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Настройки</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container fullscreen-center">
        <div class="form-container form-container-wide">
            <h2>Настройки</h2>
            <form method="post" action="/settings">
                <label for="full_name">Полное имя:</label>
                <input type="text" id="full_name" name="full_name" value="{{ user.full_name }}" required>
                <span class="error">{{ errors.full_name }}</span>

                <label for="map_api_key">API ключ Яндекс карт:</label>
                <input type="text" id="map_api_key" name="map_api_key" value="{{ user.map_api_key }}" required>
                <span class="error">{{ errors.map_api_key }}</span>

                <button type="submit">Сохранить</button>
            </form>
            <div class="exit-button">
                <button onclick="window.location.href='/'">Выйти в меню</button>
            </div>
        </div>
    </div>
</body>
</html>